---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.site-title{
  text-align: center;
font-family: arvo;
font-weight: 700;
font-size: 140px;
}
body{
  font-family: "vollkorn" !important;
}
.rss-subscribe{
  float: right;
}
.site-des{
  text-align: center;
  font-family: vollkorn;
  font-size: 16px;
  letter-spacing: 5px;
  text-indent: 5px;
  margin-right: -5px;
  text-transform: uppercase;

}

.date-stuff{
  text-align: right;
text-transform: capitalize;
line-height: 0.8;
}

.month{
  font-size: 15px;
}

.date-only{
  font-size: 46px;
}

.year{
  font-size: 14px;
}

.post-content{
padding-top: 5em;
}
.pb{
  padding-top: 3em;
}

.post-link{
  font-family: vollkorn;
line-height: 1px;
font-size: 30px;
}
p{

padding-left: 0px !important;
font-size: 20px;
padding-top: 0.3em !important;
}
.footer{
  padding: 1em;
  font-size: 18px;
  font-family: arvo;
}
// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "syntax-highlighting"
;
